---
const companies = [
  {
    name: "Netta Tech",
    url: "https://nettasoftware.com/",
    logo: "https://media.licdn.com/dms/image/C4D0BAQF4r0EH1XvmoA/company-logo_200_200/0/1671694223522?e=1698883200&v=beta&t=4GctrbBzwyW7J6MZ5QOPmQb0A_AzRVH3xawL1IIsFNY",
    title: "Software Developer",
    startDate: "2023",
    endDate: "present",
  },
  {
    name: "Anayurt Teknoloji",
    url: "https://www.anayurtteknoloji.com.tr/en/home/",
    logo: "https://www.anayurtteknoloji.com.tr/wp-content/themes/anayurt-theme/dist/img/logo.png",
    title: "Software Developer",
    startDate: "2021",
    endDate: "2023",
  },
  {
    name: "NYKS Software",
    url: "https://nykssoft.com/",
    logo: "https://media.licdn.com/dms/image/D4D0BAQGCZJS6vZHxcg/company-logo_200_200/0/1666165704008?e=1698883200&v=beta&t=U7YSjOUIFvEFe82UC7vQsz8AJrFA6aKdBVrfogZazZ0",
    title: "Software Developer",
    startDate: "2020",
    endDate: "2021",
  },
];
---

{
  companies.map((company) => (
    <div class="experience">
      <img src={company.logo} alt={company.name} />
      <div class="detail">
        <a class="link" href={company.url}>
          {company.name}
        </a>
        <p>
          {company.startDate} - {company.endDate}
          <br />
          {company.title}
        </p>
      </div>
    </div>
  ))
}
<style>
  .experience {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .experience img {
    border-radius: 50%;
    max-width: 50px;
    width: 100%;
    height: 50px;
    object-fit: cover;
    background-color: black;
  }

  .detail {
    display: flex;
    flex-direction: column;
    color: #aaaaaa;
  }

  .link {
    text-decoration: none;
    color: #e6bf00;
  }

  .link:hover {
    color: #e6bf00;
  }

  .link:visited {
    color: #e6bf00;
  }
</style>
