---
export interface Props {
  name: "mastodon" | "linkedin" | "github" | "email" | "gnupg" | "wtfpl";
  width?: string;
  height?: string;
  color?: string;
}

const { name, width = "36", height = "36", color = "#d4d4d6" } = Astro.props;

const icons = {
  mastodon: {
    viewBox: "0 0 24 24",
    title: "Mastodon",
    path: "M21.327 8.566c0-4.339-2.843-5.61-2.843-5.61-1.433-.658-3.894-.935-6.451-.956h-.063c-2.557.021-5.016.298-6.45.956 0 0-2.843 1.272-2.843 5.61 0 .993-.019 2.181.012 3.441.103 4.243.778 8.425 4.701 9.463 1.809.479 3.362.579 4.612.51 2.268-.126 3.541-.809 3.541-.809l-.075-1.646s-1.621.511-3.441.449c-1.804-.062-3.707-.194-3.999-2.409a4.523 4.523 0 0 1-.04-.621s1.77.433 4.014.536c1.372.063 2.658-.08 3.965-.236 2.506-.299 4.688-1.843 4.962-3.254.434-2.223.398-5.424.398-5.424zm-3.353 5.59h-2.081V9.057c0-1.075-.452-1.62-1.357-1.62-1 0-1.501.647-1.501 1.927v2.791h-2.069V9.364c0-1.28-.501-1.927-1.502-1.927-.905 0-1.357.546-1.357 1.62v5.099H6.026V8.903c0-1.074.273-1.927.823-2.558.566-.631 1.307-.955 2.228-.955 1.065 0 1.872.409 2.405 1.228l.518.869.519-.869c.533-.819 1.34-1.228 2.405-1.228.92 0 1.662.324 2.228.955.549.631.822 1.484.822 2.558v5.253z",
  },
  linkedin: {
    viewBox: "0 0 24 24",
    title: "LinkedIn",
    path: "M22 3.47059V20.5294C22 20.9194 21.8451 21.2935 21.5693 21.5693C21.2935 21.8451 20.9194 22 20.5294 22H3.47059C3.08056 22 2.70651 21.8451 2.43073 21.5693C2.15494 21.2935 2 20.9194 2 20.5294V3.47059C2 3.08056 2.15494 2.70651 2.43073 2.43073C2.70651 2.15494 3.08056 2 3.47059 2H20.5294C20.9194 2 21.2935 2.15494 21.5693 2.43073C21.8451 2.70651 22 3.08056 22 3.47059ZM7.88235 9.64706H4.94118V19.0588H7.88235V9.64706ZM8.14706 6.41177C8.14861 6.18929 8.10632 5.96869 8.02261 5.76255C7.93891 5.55642 7.81542 5.36879 7.65919 5.21039C7.50297 5.05198 7.31708 4.92589 7.11213 4.83933C6.90718 4.75277 6.68718 4.70742 6.46471 4.70588H6.41177C5.95934 4.70588 5.52544 4.88561 5.20552 5.20552C4.88561 5.52544 4.70588 5.95934 4.70588 6.41177C4.70588 6.86419 4.88561 7.29809 5.20552 7.61801C5.52544 7.93792 5.95934 8.11765 6.41177 8.11765C6.63426 8.12312 6.85565 8.0847 7.06328 8.00458C7.27092 7.92447 7.46074 7.80422 7.62189 7.65072C7.78304 7.49722 7.91237 7.31346 8.00248 7.10996C8.09259 6.90646 8.14172 6.6872 8.14706 6.46471V6.41177ZM19.0588 13.3412C19.0588 10.5118 17.2588 9.41177 15.4706 9.41177C14.8851 9.38245 14.3021 9.50715 13.7799 9.77345C13.2576 10.0397 12.8143 10.4383 12.4941 10.9294H12.4118V9.64706H9.64706V19.0588H12.5882V14.0529C12.5457 13.5403 12.7072 13.0315 13.0376 12.6372C13.3681 12.2429 13.8407 11.9949 14.3529 11.9471H14.4647C15.4 11.9471 16.0941 12.5353 16.0941 14.0176V19.0588H19.0353L19.0588 13.3412Z",
  },
  github: {
    viewBox: "0 0 24 24",
    title: "GitHub",
    path: "M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z",
  },
  email: {
    viewBox: "-0.5 0.5 42 42",
    title: "Email",
    path: "M40.5,31.5v-18c0,0-18.2,12.7-19.97,13.359C18.79,26.23,0.5,13.5,0.5,13.5v18c0,2.5,0.53,3,3,3h34 C40.029,34.5,40.5,34.061,40.5,31.5z M40.471,9.971c0-1.821-0.531-2.471-2.971-2.471h-34c-2.51,0-3,0.78-3,2.6l0.03,0.28 c0,0,18.069,12.44,20,13.12C22.57,22.71,40.5,10.1,40.5,10.1L40.471,9.971z",
  },
  gnupg: {
    viewBox: "0 0 24 24",
    title: "GnuPG",
    path: "M2.968 11.583h1.274v-3.82A7.76 7.76 0 0 1 12.005 0a7.76 7.76 0 0 1 7.762 7.763v3.783c-.018.01-.037.028-.056.037l-.01.01-.008.009h-.01l-.01.01-.009.009H19.636l-.018.018h-.02l-.018.01h-.01l-.009.01-.009.009h-.01l-.009.009-.009.01-.01.009-.009.009-.028.019-.019.01-.028.018-.018.01-.02.009-.027.018-.019.01-.01.009-.027.019-.02.01-.046.027-.019.01-.018.009-.02.01h-.008l-.057.027h-.019c-.018.01-.037.02-.065.038h-.01l-.009.01-.028.018-.018.01-.029.018-.018.01h-.01l-.028.018-.018.01-.02.009c-.018.01-.046.019-.065.028l-.018.01-.02.009-.037.018-.037.02-.047.018-.047.019-.019.009-.037.019-.019.01c-1.545.739-4.017 1.516-8.708 1.853-3.362.244-5.403 1.723-6.724 3.502zm4.842 0h8.371v-3.82a4.184 4.184 0 0 0-4.186-4.186A4.184 4.184 0 0 0 7.81 7.763zm13.222 1.461V24H5.572c1.704-.946 2.968-.852 5.075-.787 2.865.094 6.03-1.105 7.585-2.696 1.554-1.592-.14-.375-1.901.074-1.76.45-5.17.497-7.454-.103 7.173.094 9.973-2.219 11.555-4.307 1.583-2.079-.683-.365-2.153.356-1.47.72-4.036 1.227-6.864.852 4.27-.01 7.52-2.144 9.607-4.345z"
  },
  wtfpl: {
    viewBox: "0 0 297 215",
    title: "WTFPL License",
    paths: [
      "M 108.40625 5.90625 C 52.306055 5.90625 6.84375 51.399805 6.84375 107.5 C 6.84375 163.60019 52.306055 209.09375 108.40625 209.09375 C 122.61329 209.09375 136.12775 206.14216 148.40625 200.875 C 160.68475 206.14216 174.19921 209.09375 188.40625 209.09375 C 244.50644 209.09375 290 163.60019 290 107.5 C 290 51.399805 244.50644 5.90625 188.40625 5.90625 C 174.19921 5.90625 160.68475 8.8578414 148.40625 14.125 C 136.12775 8.8578414 122.61329 5.90625 108.40625 5.90625 z M 106.40625 37.8125 C 121.73587 37.8125 135.91647 42.733394 147.46875 51.0625 C 159.02103 42.733394 173.17038 37.8125 188.5 37.8125 C 227.32183 37.8125 258.8125 69.271923 258.8125 108.09375 C 258.8125 146.91558 227.32183 178.40625 188.5 178.40625 C 173.17274 178.40625 159.02006 173.48302 147.46875 165.15625 C 135.91744 173.48302 121.73351 178.40625 106.40625 178.40625 C 67.584423 178.40625 36.125 146.91558 36.125 108.09375 C 36.125 69.271923 67.584423 37.8125 106.40625 37.8125 z",
      "m 116.82546,66.192973 -33.419525,0 c -22.54767,46.689617 -3.679505,78.469377 11.230018,85.067227 14.909527,6.59786 39.297897,10.78923 52.843627,-13.64071 11.127,20.91039 36.41018,22.12022 53.22181,14.37696 16.81163,-7.74327 33.12311,-43.11547 11.73047,-85.803477 l -33.99227,2.7e-5 c 11.50159,26.419492 11.73257,62.462 0.009,63.53264 -11.72378,1.07063 -15.09694,-2.84981 -13.76446,-44.285231 l -33.309,-0.149602 c 2.48911,40.900273 -5.08883,48.002003 -15.33865,43.514363 -10.24982,-4.48763 -9.79468,-28.13042 0.78918,-62.612197 z",
    ],
  },
};
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  width={width}
  height={height}
  fill="none"
  viewBox={icons[name].viewBox}
  role="img"
  aria-label={`${icons[name].title} icon`}
>
  <title>{icons[name].title}</title>
  {
    name === "wtfpl" ? (
      icons[name].paths.map((path) => (
        <path d={path} style={`fill: ${color}; transition: fill 0.3s ease;`} />
      ))
    ) : (
      <path
        d={icons[name].path}
        style={`fill: ${color}; transition: fill 0.3s ease;`}
      />
    )
  }
</svg>